@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');


*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

img{
  width: 100%;
}


.logo{
  width:150px;
  height: 110px;
}

.logo__img{
  width:200px;
}



ul{
  display: flex;
}

li{
  list-style: none;
}

.purple{
  color:#7342d6;
}

.nav__logo{
  width:150px;
  height: 150px;
}

#landing{
  background-color: rgba(115, 66, 214, 0.1);
}

/* Nav */

nav{
  height:80px;
  display:flex;
}

.nav__container{
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

}



.nav__link{
  margin-left:12px;
  font-size:20px;
  font-weight:bold;
  text-decoration: none;
  padding:8px;
}

.nav__link:hover{
  text-decoration: underline;
}


.nav__link--border{
  border:2px solid #7342d6;
  background-color: #7342d6;
  color:white;
  border-radius: 4px;
}

.nav__link--border:hover{
  text-decoration: none;
}

/* Header */

.header__container{
  height:calc(100vh - 80px);
  width:100%;
  max-width:650px;
  margin:0 auto;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.header__description{
 text-align: center;
}

.title__description{
  text-align:center;
  font-size:50px;
  color:#7342d6;
  margin-bottom:12px;
}

.header__description{
  font-size: 24px;
  margin-bottom:24px;
}

.btn{
  background-color: #7342d6;
  color:white;
  font-weight: bold;
  font-size: 18px;
  border:12px solid #7342d6;
  border-radius: 12px;
}

.header__img--wrapper{
  padding:0 12px;
}

.header__img{
  padding: 0 20px;
}


/* Main Sections */


.container{
  padding:56px 0;
}

.row{
  width:100%;
  max-width:1200px;
  margin:0 auto;
}

.highlight__wrapper{
  display: flex;
  justify-content: space-between;
}

.highlight{
  display: flex;
  flex-direction: column;
  align-items: center;
}